body {
  color: black;
}

section {
  display: flex;
  justify-content: center;
}

form {
  margin-top: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

button {
  margin-top: 10px;
}

span {
  color: white;
}